{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Home{% endblock title %}</title>

  <!-- bootstrap css-->
  <link href="{% static 'library/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  
  <!-- fontawsome css -->
  <link href="{% static 'library/fa/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- local css-->
  <link href="{% static 'css/base.css' %}" rel="stylesheet" />



  {% block external %}
  {% endblock external %}

</head>

<body class="d-flex flex-column h-100">
  {% block navbar %} 
  {% endblock navbar %}

  

      {% block content %}
      {% endblock content %}




  <script defer src="{% static 'library/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  {% block footer %} 
  {% endblock footer %}

</body>



</html>