{% load static %}

<div class="container-fluid footer-wrapper mt-auto">

    <footer class="container">
        <div class="company">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Ad preference</a></li>
            </ul>
        </div>
        <div class="work">
            <h3>Work with us</h3>
            <ul>
                <li><a href="#">Authors</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">Authors & ads blog</a></li>
            </ul>
        </div>

        <div class="connect">
            <h3>Connect</h3>
            <ul>
                <li><a href="#"><img src="{% static 'img/fb.png' %}" alt="facebook logo"></a></li>
                <li><a href="#"><img src="{% static 'img/in.png' %}" alt="Linkedin logo"></a></li>
                <li><a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter logo"></a></li>
                <li><a href="#"><img src="{% static 'img/insta.png' %}" alt="Instagram logo"></a></li>
            </ul>
        </div>

    </footer>
</div>