{% load static %}

<nav class="navbar fixed-top bg-body-tertiary navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      <div class="logo-text">Sarangsho</div>
    </a>
    <!-- 
    <form method="GET" action="{% url 'home' %}">
      <input type="text" name="q" placeholder="Search books">
    </form> -->

    <form class="form-inline d-flex" method="GET" action="{% url 'home' %}">
      <input name="q" class=" me-2 form-control mr-sm-2" type="search" placeholder="Search books" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div>
      {% if user.is_authenticated %}
      <form class="form-inline ml-auto">

        <a href="{% url 'user_profile' request.user.id %}">
          <img src="{{user.avatar.url}}" class="rounded-circle shadow-4 me-2" style="width: 50px;" alt="Avatar" />
        </a>


        <a href="{% url 'logout' %}" class="btn btn-outline-secondary me-1">
          Log Out</a>
      </form>

      {% else %}
      <div>
        <button id="login_btn" class="btn btn-primary">Login</button>
        <button id="signup_btn" class="btn btn-primary">Signup</button>

        <dialog id="login_dialog">
          {% include 'registration/login_form.html' %}
        </dialog>
        <dialog id="signup_dialog">

          {% include 'registration/signup_form.html' %}
        </dialog>
      </div>
      <script src="{% static 'js/utilities.js' %}"></script>
      <script>




        login_dialog = document.getElementById('login_dialog')
        signup_dialog = document.getElementById('signup_dialog')
        login_btn = document.getElementById('login_btn')
        signup_btn = document.getElementById('signup_btn')


        login_btn.addEventListener('click', () => {
          
          // show the login page modal
          login_dialog.showModal()

          // remove the modal from view when clicking outside modal
          login_dialog.addEventListener('click', e => {
            close_modal(login_dialog, e)
          })
        })

        signup_btn.addEventListener('click', () => {

          // show the signup page modal
          signup_dialog.showModal()

          // remove the modal from the view when clicking outside
          signup_dialog.addEventListener('click', e => {
            close_modal(signup_dialog, e)
          })
        })

      </script>
      {% endif %}
    </div>


  </div>
</nav>