{% extends 'base.html' %} 
{% load static %}

{% block title %} 
Book Review 
{% endblock title %} 

{% block content %} 

<form action="" method="POST">
  {% csrf_token %}
    <div>
      <label for="review">What did you think?</label><br>
      <textarea name="review" width="200px" height="500px"></textarea>
    </div>

    <div class="form__action">
        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
        <button class="btn btn--main" type="submit">Submit</button>
      </div>
</form>


{% endblock content %} 